.pagination {
    display: flex;
    justify-content: center;
  }
  
  .pagination button {
    width: 30px;
    height: 30px;
    background-color: #E2E8F0;
    color: #2D3748;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    border: none;
    outline: none;
    font-weight: bold;
  }


  
  .pagination button.active {
    background-color: #2D3748;
    color: #fff;
    border: none;
    outline: none;
    font-weight: bold;
  }

  
  .pagination span {
    margin: 0 5px;
    color: #2D3748;
    font-weight: bold;
  }

  
  