@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap");

.main {
  font-family: Inter;
  height: 100%;
  display: grid;
  grid-template-areas:
    "navbar navbar"
    "sidebar content"
    "footer footer";
  grid-template-columns: 19em auto;
  grid-template-rows: 5em auto;

  > div:nth-of-type(2) {
    // sidebar styling goes here

    grid-area: sidebar;
  }

  > div:nth-of-type(1) {
    // Navbar styling goes here

    grid-area: navbar;
    width: 98.7vw;
  }

  > header {
    // Navbar styling goes here
    grid-area: navbar;
  }

  > footer {
    grid-area: footer;
  }
}

// #trainingProgramView {
//   grid-area: content;
// }
.ColumnGroupingTable {
  grid-area: content;
  size: 90%;
  padding: 20px;
}
