:root {
    --navbar-height: 60px; 
    --footer-height: 105px;
  }
  
  .background {
    background-image: url(./images/login-background.jpg);
    height: calc(100vh - var(--navbar-height) - var(--footer-height));
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 0 auto;
  }
  
  
  .login {
    background-color: rgba(255, 255, 255, 0.9);
    position: relative;
    width: 40%;
    max-width: 500px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    border-radius: 5%;
  }
  
  .title {
    font-weight: bold;
    font-size: 43px;
    text-align: center;
  }
  
  .contact {
    font-size: 14px;
    text-align: center;
  }
  
  .link {
    text-decoration: underline;
    color: blue;
  }
  
  .input-email {
    background-color: lightgray;
    width: 100%;
    border: 1px;
    border-radius: 5px;
    font-weight: bold;
    padding: 10px;
    margin-bottom: 5px;
    outline: none;
  }
  
  .password {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
    width: 100%;
    border: 1px;
    border-radius: 5px;
    font-weight: bold;
    padding: 2px;
    margin: 1px;
    outline: none;
  }
  
  .input-password {
    background-color: lightgray;
    width: 100%;
    font-weight: bold;
    outline: none;
    padding: 8px;
  }
  
  .button-login {
    padding: 10px;
    border: 1px;
    border-radius: 10px;
    width: 100%;
    background-color: black;
    color: white;
    margin: auto;
  }
  
  .button-login:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }

  .img {
    width: 20px;
    height: 20px;
    transform: scaleX(-1);
    user-select: none;
  }
  
  .loginblock {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .fg-password {
    color: rgba(0, 0, 0, 0.4);
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Arial, sans-serif;
    font-style: italic;
    float: right;
    font-size: 13px;
  }
  