@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap");

html {
  font-family: Inter ;
}

.main {
  overflow-x: hidden;
  // width: 80vw;
  min-height: 100vh;
  // display: flex;
  // flex-direction: column;
  // justify-content: flex-start;
  margin-left: -18px;
  font-family: Inter;
}
