@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

.frameParent {
  position: relative;
}

.main {
  position: fixed;
  top: 50%; /* Position the top of the modal at 50% from the top of the viewport */
  left: 50%; /* Position the left side of the modal at 50% from the left of the viewport */
  transform: translate(-50%, -50%);
}

.redAsterisk {
  color: red;
}
.fileName {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.importStudent {
  position: relative;
}
.importStudentWrapper {
  align-self: stretch;
  border-radius: 10px 10px 0 0;
  background-color: #2d3748;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px 10px 10px 0;
  font-size: 16px;
  color: #fff;
}
.fileWrapper {
  width: 165px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 10px;
  box-sizing: border-box;
}
.select {
  position: relative;
  line-height: 22px;
}
.frameGroup,
.selectWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.selectWrapper {
  border-radius: 5px;
  background-color: #2d3748;
  height: 24px;
  align-items: center;
  padding: 5px 20px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: 10px;
}
.frameGroup {
  align-self: stretch;
  align-items: flex-start;
  gap: 20px;
}
.download {
  position: relative;
  text-decoration: underline;
  line-height: 22px;
}
.downloadWrapper {
  cursor: pointer;
  flex-direction: row;
  justify-content: flex-start;
  color: #285d9a;
}
.downloadWrapper,
.frameParent,
.importSettingParent {
  display: flex;
  align-items: flex-start;
}
.frameParent {
  width: 333px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 15px;
  color: #1e1f20;
}
.importSettingParent {
  width: 504px;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 20px;
  box-sizing: border-box;
}
.importChild {
  width: 460px;
  position: relative;
  max-height: 100%;
}
.halo,
.rectangle {
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 8px);
  width: 16px;
  height: 16px;
}
.halo {
  border-radius: 50%;
  background-color: #e6f7ff;
}
.rectangle {
  border-radius: 100px;
  background-color: #fff;
  border: 1px solid #2d3748;
  box-sizing: border-box;
}
.rectangle1 {
  position: absolute;
  top: calc(50% - 4px);
  left: calc(50% - 4px);
  border-radius: 20px;
  background-color: #2d3748;
  width: 8px;
  height: 8px;
}
.radio {
  width: 16px;
  position: relative;
  height: 16px;
}
.div {
  background-color: rgba(255, 255, 255, 0);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}
.radio1 {
  width: 16px;
  position: relative;
  border-radius: 100px;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  height: 16px;
}
.frameDiv,
.frameWrapper,
.radioGroup {
  display: flex;
  justify-content: flex-start;
}
.radioGroup {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  padding: 5px 0 5px 10px;
  gap: 16px;
  color: rgba(0, 0, 0, 0.85);
  font-family: Roboto;
}
.frameDiv,
.frameWrapper {
  flex-direction: column;
  align-items: flex-start;
}
.frameDiv {
  align-self: stretch;
  gap: 5px;
}
.frameWrapper {
  width: 333px;
  color: #1e1f20;
}
.duplicateControlParent {
  width: 500px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 20px;
  box-sizing: border-box;
}
.cancel {
  position: relative;
  text-decoration: underline;
}
.addDayButton,
.importWrapper {
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 7px 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.importWrapper {
  background-color: #2d3748;
  padding: 7px 25px;
  color: #fff;
}
.addDayButtonParent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 20px;
  gap: 10px;
  color: #e74a3b;
}
.selectWrapper:hover,
.importWrapper:hover {
  background-color: darken(#e74a3b, 10%);
}
.import {
  width: 100%;
  position: relative;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 0 20px;
  box-sizing: border-box;
  gap: 15px;
  text-align: left;
  font-size: 14px;
  color: #000;
  font-family: Inter;
}
.frameGsroup {
  display: flex;
}
